---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Duboc.io - now</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/now/">Now</a>
    <a href="/blog/">Blog</a>

    <h1>What I'm up to right now</h1>
    <h2>Inspired by <a href="https://nownownow.com/">Derek Siver's "Now Page" idea</a></h2>

    <p>
      Currently I'm:
      <ul>
        <li>Working for <a href="https://www.marysmealsusa.org/">Mary's Meals</a> as Data Insight Manager</li>
        <li>Improving my knowledge of BI and analytics tools: Power BI and DAX, Python, and getting better at SQL</li>
        <li>Learning more about server-side tagging</li>
        <li>Leading <a href="https://cmaconnectfareham.org/">a local debt advice charity</a> with a wonderful team of volunteers</li>
        <li>Teaching myself piano and learning how to use <a href="https://partialcapo.com/">partial capos</a> on the guitar</li>
        <li>Working out to improve my performance at Parkrun and prepare for a 10 mile race for Mary's Meals</li>
      </ul>
    </p>

  </body>
</html>