---
---
<footer class="mt-auto border-t-2 border-blue-100">
    <div class="content">
        <a href="https://www.linkedin.com/in/jeanremyduboc/" class="inline">
            <img src="/icons/linkedin.svg" class="w-7 inline"/> Linkedin
        </a>
    </div>
</footer>