---
---
<nav>
<ul class="flex pb-quarter">
  <li><a href="/" class="block pr-1">Home</a></li>
  <li><a href="/now/" class="block px-1">Now</a></li>
  <li><a href="/blog/" class="block pl-1">Articles</a></li>
</ul> 
</nav> 