---
import Nav from '../components/Nav.astro'
import Header from '../components/Header.astro'
import '../styles/base.css'

const {frontmatter} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Duboc.io | {frontmatter.title}</title>
	</head>
	<style>
		body {min-height: 100vh;}
	</style>
	<body class="border-t-8 border-blue-300 bg-blue-50 p-8">
		<Header/>
		<Nav/>
		<content>
			<slot />
		</content>
	</body>
</html>