---
import Header from '../components/Header.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import '../styles/base.css'

const {frontmatter} = Astro.props
---

<!doctype html>
<html lang="en">
	<Header title={frontmatter.title}/>
	<body>
		<div class="page">
			<div class="content">
				<Nav/>
				<content>
					<slot />
				</content>
			</div>
			<Footer />
		</div>
	</body>
</html>